.1_131 { 
	overflow:hidden;
}
.e1_131 { 
	width:950px;
	height:310px;
	position:absolute;
}
.e44_5 { 
	width:316px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_12 { 
	color:rgba(251.00000023841858, 215.0000023841858, 132.0000073313713, 1);
	width:212px;
	height:22px;
	position:absolute;
	left:104px;
	top:0px;
	font-family:Gilroy;
	text-align:left;
	font-size:18px;
	letter-spacing:6;
}
.e1_102 { 
	transform: rotate(9.213866198408551e-15deg);
	background-color:rgba(251.00000023841858, 215.0000023841858, 132.0000073313713, 1);
	width:72px;
	height:2px;
	position:absolute;
	left:0px;
	top:10px;
}
.e1_13 { 
	color:rgba(255, 255, 255, 1);
	width:950px;
	height:200px;
	position:absolute;
	left:0px;
	top:54px;
	font-family:Chronicle Display;
	text-align:left;
	font-size:88px;
	letter-spacing:0;
	line-height:px;
}
.e1_104 { 
	width:126px;
	height:24px;
	position:absolute;
	left:0px;
	top:286px;
}
.e1_96 { 
	color:rgba(255, 255, 255, 1);
	width:94px;
	height:22px;
	position:absolute;
	left:0px;
	top:1px;
	font-family:Gilroy;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e1_98 { 
	width:16px;
	height:24px;
	position:absolute;
	left:110px;
	top:0px;
}
.e1_99 { 
	background-color:rgba(255, 255, 255, 1);
	width:16px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
