.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   
}

.button1{
    margin-left: 675px;
    margin-top: -30px;
}
.search{
    background-color: gray;
    padding: 15px;
    border-radius: 5px;
}
.formInput{
    width: 676px;
    outline: none;
}