:root {
  --link: rgba(0, 112, 201, 1);
  --black: rgba(23, 23, 23, 1);
  --text-1: rgba(250, 250, 249, 1);
  --text-2: rgba(239, 237, 232, 0.65);
  --button: rgba(230, 83, 60, 1);
  --shape-1: rgba(239, 137, 100, 1);
  --shape-2: rgba(48, 48, 48, 1);
  --shape-3: rgba(122, 41, 220, 1);
  --shape-seconday-1: rgba(50, 52, 67, 1);
  --shape-seconday-2: rgba(35, 37, 50, 1);
  --shape-seconday-3: rgba(50, 52, 67, 1);
  --shape-seconday-4: rgba(79, 82, 97, 1);
  --hero-header-font-family: "Inter-SemiBold", Helvetica;
  --hero-header-font-weight: 600;
  --hero-header-font-size: 172px;
  --hero-header-letter-spacing: -2px;
  --hero-header-line-height: 170px;
  --hero-header-font-style: normal;
  --h-1-font-family: "Inter-SemiBold", Helvetica;
  --h-1-font-weight: 600;
  --h-1-font-size: 50px;
  --h-1-letter-spacing: 0.8299999833106995px;
  --h-1-line-height: 70px;
  --h-1-font-style: normal;
  --h-2-font-family: "Inter-SemiBold", Helvetica;
  --h-2-font-weight: 600;
  --h-2-font-size: 40px;
  --h-2-letter-spacing: 0.30000001192092896px;
  --h-2-line-height: 50px;
  --h-2-font-style: normal;
  --h-3-font-family: "Inter-SemiBold", Helvetica;
  --h-3-font-weight: 600;
  --h-3-font-size: 24px;
  --h-3-letter-spacing: 0.30000001192092896px;
  --h-3-line-height: 24px;
  --h-3-font-style: normal;
  --h-4-font-family: "Inter-Medium", Helvetica;
  --h-4-font-weight: 500;
  --h-4-font-size: 20px;
  --h-4-letter-spacing: 0.5px;
  --h-4-line-height: 25px;
  --h-4-font-style: normal;
  --h-5-font-family: "Inter-SemiBold", Helvetica;
  --h-5-font-weight: 600;
  --h-5-font-size: 16px;
  --h-5-letter-spacing: 0.5px;
  --h-5-line-height: 24px;
  --h-5-font-style: normal;
  --body-text-font-family: "Inter-Regular", Helvetica;
  --body-text-font-weight: 400;
  --body-text-font-size: 16px;
  --body-text-letter-spacing: 0.5px;
  --body-text-line-height: 24px;
  --body-text-font-style: normal;
  --body-text-small-font-family: "Inter-Regular", Helvetica;
  --body-text-small-font-weight: 400;
  --body-text-small-font-size: 14px;
  --body-text-small-letter-spacing: 0.30000001192092896px;
  --body-text-small-line-height: 24px;
  --body-text-small-font-style: normal;
  --CTA-font-family: "Inter-SemiBold", Helvetica;
  --CTA-font-weight: 600;
  --CTA-font-size: 16px;
  --CTA-letter-spacing: 0.5px;
  --CTA-line-height: 26px;
  --CTA-font-style: normal;
}
