:root {
  --mrt-app-headline: rgba(27, 28, 87, 1);
  --mrt-appsubheadline: rgba(104, 121, 159, 1);
  --yellow-500: rgba(245, 158, 11, 1);
  --neutral-100: rgba(240, 243, 253, 1);
  --green-700: rgba(4, 120, 87, 1);
  --green-100: rgba(209, 250, 229, 1);
  --mrt-app-neutral-01: rgba(98, 102, 135, 1);
  --neutral-500: rgba(136, 139, 151, 1);
  --green-500: rgba(16, 185, 129, 1);
  --neutral-300: rgba(224, 227, 235, 1);
  --red-500: rgba(239, 68, 68, 1);
  --red-100: rgba(254, 226, 226, 1);
  --neutral-900: rgba(14, 23, 53, 1);
  --neutral-700: rgba(60, 69, 99, 1);
  --blue-700: rgba(29, 78, 216, 1);
  --blue-100: rgba(219, 234, 254, 1);
  --shadow-IG-post: 0px 11px 48px 0px rgba(51, 51, 51, 0.06);
  --shadow-smooth: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
}
