body{
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
#wrapper1{
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 18px;
    overflow: hidden;
}
#wrapper2{
    position: absolute;
    transform-origin: bottom right;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, transparent,transparent,#aa00fe,#aa00fe,#aa00fe);
    animation: animation 6s infinite linear;
    animation-delay: 0s;
    z-index: 1;
}
#wrapper3{
    position: absolute;
    transform-origin: bottom right;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, transparent,transparent,#ff0000,#ff0000,#ff0000);
    animation: animation 6s infinite linear;
    animation-delay: -1.5s;
    z-index: 1;
}
#wrapper4{
    position: absolute;
    transform-origin: bottom right;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, transparent,transparent,#aa00fe,#aa00fe,#aa00fe);
    animation: animation 6s infinite linear;
    animation-delay: -3s;
    z-index: 1;
}
#wrapper5{
    position: absolute;
    transform-origin: bottom right;
    top: -50%;
    left: -50%;
    width: 100%;
    height:100vh;
    background: linear-gradient(0deg, transparent,transparent,#ff0000,#ff0000,#ff0000);
    animation: animation 6s infinite linear;
    animation-delay: -4.5s;
    z-index: 1;
}
#wrapper{
    position: absolute;
    inset: 14px;
    border-radius: 14px;
    background-image: url(../anh/z4712497784907_54c5a43b5b31fe0166b78ee42ffcf51a.jpg);
    align-items: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: flex;
    animation: aanimation 6s infinite linear;
    z-index: 10;
}
#header{
    width: 200px;
    height: 200px;
    border-radius: 10rem;
    position: relative;
    overflow: hidden;
}
.header5{
    position: absolute;
    inset: 5px;
    border-radius: 10rem;
    z-index: 10;
   background-color: #fff;
}
.header1{
    position: absolute;
    transform-origin:bottom right;
    border-radius: 10rem;
    top: -50%;
    left: -50%;
    width: 200px;
    height: 200px;
    background: linear-gradient(0deg, transparent,transparent,#ff0000,#ff0000,#ff0000);
    animation: animation 6s infinite linear;
    animation-delay: 0s;
    z-index: 1;
}
.header2{
    position: absolute;
    transform-origin: bottom right;
    border-radius: 10rem;
    top: -50%;
    left: -50%;
    width: 200px;
    height: 200px;
    background: linear-gradient(0deg, transparent,transparent,#aa00fe,#aa00fe,#aa00fe);
    animation: animation 6s infinite linear;
    animation-delay: -1.5s;
    z-index: 1;
}
.header3{
    position: absolute;
    transform-origin: bottom right;
    border-radius: 10rem;
    top: -50%;
    left: -50%;
    width: 200px;
    height: 200px;
    background: linear-gradient(0deg, transparent,transparent,#ff0000,#ff0000,#ff0000);
    animation: animation 6s infinite linear;
    animation-delay: -3s;
    z-index: 1;
}
.header4{
    position: absolute;
    transform-origin: bottom right;
    border-radius: 10rem;
    top: -50%;
    left: -50%;
    width: 200px;
    height: 200px;
    background: linear-gradient(0deg, transparent,transparent,#aa00fe,#aa00fe,#aa00fe);
    animation: animation 6s infinite linear;
    animation-delay: -4.5s;
    z-index: 1;
}

@keyframes animation{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes aanimation {
    100%{
        filter: hue-rotate(360deg);
    }
}
