body{
    background: url(../tuviet/anh/isinhvien-897-p10.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#wrapper{
    position: relative;
    display: flex;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
    /* Cân giữa hàng dọc  */
    align-items: center;
    /* căn chỉnh thàn phần trục ngang  */
    border-radius: 8px;
    overflow: hidden;
}
#form-login{
    position: absolute;
    inset: 8px;
    border-radius: 7px;
    z-index: 10;
    background-color: #5a5656;
    
   
}
.form-heading{
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
}
.form-group{
    border-bottom: 3px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}
.form-input{
    background: transparent;
    color: #fff;
    border: 0px;
    outline: 0px;
    flex-grow: 1;
}

.form-submit{
    background: transparent;
    border: 1px solid #f5f5f5;
    width: 100%;
    text-transform: uppercase;
     /* viết hoa  */
    padding: 6px 10px;
    /* khoảng cách đến viền  */
    color: #f5f5f5;
    border-radius: 5px;
    /* bo tròn nút đăng nhập  */
    cursor: pointer;
}
#eye i{
    padding-right: 0px;
    cursor: pointer;
}
.search-container{
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: #333;
    margin: 0 auto;
    padding: 10px;
    background: #f5f5f5;
}
#search-icon{
    font-size: 28px;
    cursor: pointer;
}
#search-form{
    width: 200px;
    position: absolute;
    left: 35px;
    display: none;
}
#search-form input#keyword{
    padding: 6px 9px;
    width: 100%;
    outline: 0;
    border: 1px solid #333;
    box-shadow: 0px 2px 4px #000;
    
}
.form-submit:hover{
    border: 1px solid firebrick;
}
.ani1{
    position: absolute;
    width: 400px;
    height: 300px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,transparent,transparent,#ffffff,#ffffff,#ffffff);
    animation: autoanimation 6s linear infinite;
    animation-delay: 0s;
    transform-origin: bottom right;
    z-index: 1;
}
.ani2{
    position: absolute;
    width: 400px;
    height: 300px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,transparent,transparent,#000000,#000000,#000000);
    animation: autoanimation 6s linear infinite;
    animation-delay: -1.5s;
    transform-origin: bottom right;
    z-index: 1;
}
.ani3{
    position: absolute;
    width: 400px;
    height: 300px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,transparent,transparent,#ffffff,#ffffff,#ffffff);
    animation: autoanimation 6s linear infinite;
    animation-delay: -3s;
    transform-origin: bottom right;
    z-index: 1;
}
.ani4{
    position: absolute;
    width: 400px;
    height: 300px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,transparent,transparent,#000000,#000000,#000000);
    animation: autoanimation 6s linear infinite;
    animation-delay: -4.5s;
    transform-origin: bottom right;
    z-index: 1;
}
@keyframes autoanimation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}