body{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
}
body .background{
    background:url(../anh/YxPwb7X.jpg);
    display: flex;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* Tự chia tỷ lệ tới kích thước lớn nhất của chiều rộng hoặc chiều cao để phù hợp với vùng nội dung.
Nếu chiều cao lớn hơn chiều rộng thì background sẽ chỉnh 100% theo chiều cao, chiều rộng sẽ tự động chỉnh tỷ lệ cho phù hợp (auto).
/* Ngược lại nếu chiều rộng lớn hơn chiều cao thì background sẽ chỉnh 100% theo chiều rộng, chiều cao sẽ tự động chỉnh tỷ lệ cho phù hợp (auto) */ 
    /* căn chỉnh ảnh nền lên xuống */
    width: 100%;
    height: 100vh;
    background-position: center;
    animation: animateBg 6s linear infinite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* Nói một cách dễ hiểu, giá trị này sẽ căn giữa các thành phần trong flexbox */
    align-items: center;
    /* căn chỉnh các thành phần giữa trục ngang */
    animation: animateKi 4s infinite linear;
}
#wrapper{
  position: relative;
  width: 400px;
  height: 300px;

  border-radius: 10px;
  overflow: hidden;
  
}
.header1{
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 300px;
    background: linear-gradient(0deg,transparent, transparent,#ff0000,#3700fe,#00ff11);
    animation: animation 4s infinite linear;
    transform-origin: bottom right;
    animation-delay: 0s;
}
.header2{
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 300px;
    background: linear-gradient(0deg,transparent, transparent,#ff0000,#3700fe,#00ff11);
    animation: animation 4s infinite linear;
    transform-origin: bottom right;
    animation-delay: -1s;
    
}
.header3{
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 300px;
    background: linear-gradient(0deg,transparent, transparent,#ff0000,#3700fe,#00ff11);
    animation: animation 4s infinite linear;
    transform-origin: bottom right;
    animation-delay: -2s;
}
.header4{
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 300px;
    background: linear-gradient(0deg,transparent, transparent,#ff0000,#3700fe,#00ff11);
    animation: animation 4s infinite linear;
    transform-origin: bottom right;
    animation-delay: -3s;
}
#form-login{
    position: absolute;
    border-radius: 10px;
    /* bo tròn khung login  */
    inset: 8px;
    background-color: #726f6f;
    /* nền của form login */
    flex-grow: 1;
    /* lấy lại tỉ lệ đúng của form login 400px */
    /* căn chỉnh khoảng cách đến viền form login */
    

}
.form-heading{
    font-size: 25px;
    /* size chữ đăng nhập */
    color: #f5f5f5;
    /* màu chữ đăng nhập */
    text-align: center;
    /* căn chỉnh ra giữa chữ đăng nhập */
    margin-bottom: 30px;
    color: #ff0000;
}
.form-group{

    border-bottom: 1px solid #fff;
    /* chạy dòng kẻ ngang liền mạch rộng 1px dưới đăng nhập và mật khẩu */
    margin: 20px;
    display: flex;
    
}
input{
    background: transparent;
    /* nền form input trong suốt theo nền heading */
    border: 0;
    /* khi chỉ chuột vào sẽ có viền trắng */
    outline: 0;
    /* bỏ viền khi trỏ chuột */
    color: #f5f5f5;
    /* màu khi nhập vào từ người dùng */
    flex-grow: 1;
    margin-left: -7px;
   color: #ff0000;
   cursor: pointer;
}
.form-input:hover{
    background-color: #3700fe;
}
   

#eye i{
    padding-right: 2px;
    /* cho khoảng cách icon sang phải = 0  */
    cursor: pointer;
    /* thêm hình bàn tay  khi trỏ chuột vào mắt*/
}
.form-input::placeholder{
    color: #f5f5f5;
    /* hiển thi tên đăng nhập và mật khẩu màu trắng */
}

#form-submit{
    position: absolute;
    background-color: rgb(43, 40, 40);
    border: none;
    inset: 5px;
    text-transform: uppercase;
    /* viết hoa  */
    
    /* khoảng cách đến viền  */
    color: #f5f5f5;
    border-radius: 5px;
    /* bo tròn nút đăng nhập  */
    z-index: 10;
    cursor: pointer;
    color: #ff0000;
}
.form-submit:hover{
    /* khi trỏ chuột vào  */
    border: 1px solid #d35959;
}
.form-group i{
    padding-right: 10px;
}
.submit{
   
    width: 100px;
    height: 60px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 15px;
}
.submit1{
    width: 100px;
    height: 60px;
    position: absolute;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg,transparent,transparent,#ff0000,#ff0000,#ff0000);
    animation: animationBg 1s infinite linear;
    transform-origin: bottom right;
    z-index: 1;
}
@keyframes animationBg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.form-group i{
    margin-left:5px;
}
@keyframes animation{
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes animateKi {
    100%{
        filter: hue-rotate(360deg);
    }
}
#style{
    margin-left: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}
button{
    width: 100px;
    height: 80px;
    background: transparent;
    cursor: pointer;
    color: #ff0000;
    border-radius: 4px;
    border: 1px solid;
    margin-bottom: 70px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px ;
    font-size: 15px;
   
}
.xoa{
   display: none;

    
}
::-webkit-input-placeholder {
    font-style: italic;
    /* chữ in nghiêng của placeholder   */
  }

#form-submit:hover{
    background-color: #5b03ff;
}
p{
    font-size: 100px;
    text-align: center;
}
#a1{
    margin-top: 50px;
}
