.landing-page-studio {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page-studio .div {
  background-color: #fdfdfd;
  width: 1440px;
  height: 4102px;
  position: relative;
}

.landing-page-studio .top-menu {
  position: absolute;
  width: 1202px;
  height: 34px;
  top: 42px;
  left: 120px;
}

.landing-page-studio .a-studio {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Proxima Nova-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 27.1px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .text-wrapper {
  font-weight: 700;
}

.landing-page-studio .span {
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
}

.landing-page-studio .navbar {
  position: absolute;
  width: 657px;
  height: 20px;
  top: 7px;
  left: 555px;
}

.landing-page-studio .text-wrapper-2 {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-text-stroke: 0.2px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
}

.landing-page-studio .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 105px;
  -webkit-text-stroke: 0.2px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
}

.landing-page-studio .text-wrapper-4 {
  left: 262px;
  position: absolute;
  top: 0;
  -webkit-text-stroke: 0.2px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
}

.landing-page-studio .text-wrapper-5 {
  left: 377px;
  position: absolute;
  top: 0;
  -webkit-text-stroke: 0.2px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
}

.landing-page-studio .text-wrapper-6 {
  left: 490px;
  position: absolute;
  top: 0;
  -webkit-text-stroke: 0.2px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
}

.landing-page-studio .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 584px;
  -webkit-text-stroke: 0.2px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
}

.landing-page-studio .hero-headline {
  position: absolute;
  width: 1372px;
  height: 608px;
  top: 116px;
  left: 68px;
}

.landing-page-studio .overlap {
  position: absolute;
  width: 527px;
  height: 384px;
  top: 123px;
  left: 0;
}

.landing-page-studio .dot-ornament {
  width: 404px;
  top: 230px;
  left: 0;
  position: absolute;
  height: 154px;
}

.landing-page-studio .dot {
  position: absolute;
  width: 196px;
  height: 154px;
  top: 0;
  left: 208px;
}

.landing-page-studio .img {
  width: 196px;
  top: 0;
  left: 0;
  position: absolute;
  height: 154px;
}

.landing-page-studio .content {
  position: absolute;
  width: 475px;
  height: 265px;
  top: 0;
  left: 52px;
}

.landing-page-studio .text-wrapper-8 {
  position: absolute;
  top: -1px;
  left: -1px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .p {
  position: absolute;
  width: 471px;
  top: 89px;
  left: 0;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #565656;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.landing-page-studio .CTA-contact-now {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 40px;
  position: absolute;
  top: 200px;
  left: 1px;
  background-color: #2539ec;
  border-radius: 60px;
}

.landing-page-studio .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.5px;
  margin-left: -0.5px;
  -webkit-text-stroke: 0.5px #ffffff;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 1.3px;
  line-height: normal;
}

.landing-page-studio .overlap-group {
  position: absolute;
  width: 817px;
  height: 608px;
  top: 0;
  left: 555px;
}

.landing-page-studio .rectangle {
  position: absolute;
  width: 178px;
  height: 178px;
  top: 430px;
  left: 519px;
  background-color: #fff4da;
  border-radius: 0px 0px 100px 0px;
}

.landing-page-studio .ellipse {
  position: absolute;
  width: 129px;
  height: 129px;
  top: 0;
  left: 0;
  background-color: #d9e8ff;
  border-radius: 64.5px;
}

.landing-page-studio .image {
  position: absolute;
  width: 754px;
  height: 512px;
  top: 0;
  left: 63px;
  object-fit: cover;
}

.landing-page-studio .our-client {
  position: absolute;
  width: 1204px;
  height: 124px;
  top: 764px;
  left: 120px;
}

.landing-page-studio .text-wrapper-10 {
  position: absolute;
  width: 336px;
  top: 66px;
  left: 0;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
}

.landing-page-studio .uber-eats-logo {
  position: absolute;
  width: 166px;
  height: 28px;
  top: 66px;
  left: 832px;
}

.landing-page-studio .airbnb-logo {
  position: absolute;
  width: 166px;
  height: 52px;
  top: 54px;
  left: 606px;
}

.landing-page-studio .google-logo {
  position: absolute;
  width: 150px;
  height: 49px;
  top: 56px;
  left: 396px;
}

.landing-page-studio .amazon-logo {
  position: absolute;
  width: 142px;
  height: 43px;
  top: 71px;
  left: 1058px;
}

.landing-page-studio .how-can-we-help {
  position: absolute;
  width: 1358px;
  height: 867px;
  top: 982px;
  left: 82px;
}

.landing-page-studio .overlap-2 {
  position: relative;
  height: 867px;
}

.landing-page-studio .ellipse-2 {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 711px;
  left: 1095px;
  border-radius: 60px;
  border: 8.8px solid;
  border-color: #ff007a;
}

.landing-page-studio .group {
  position: absolute;
  width: 405px;
  height: 154px;
  top: 644px;
  left: 43px;
}

.landing-page-studio .dot-2 {
  width: 196px;
  top: 0;
  left: 209px;
  position: absolute;
  height: 154px;
}

.landing-page-studio .rectangle-2 {
  position: absolute;
  width: 1047px;
  height: 619px;
  top: 140px;
  left: 311px;
  background-color: #f4f8ff;
  border-radius: 150px 0px 0px 0px;
}

.landing-page-studio .rectangle-3 {
  position: absolute;
  width: 178px;
  height: 178px;
  top: 300px;
  left: 0;
  background-color: #fff4da;
  border-radius: 0px 0px 100px 0px;
  transform: rotate(-180deg);
}

.landing-page-studio .group-2 {
  position: absolute;
  width: 398px;
  height: 180px;
  top: 360px;
  left: 38px;
}

.landing-page-studio .text-wrapper-11 {
  position: absolute;
  width: 396px;
  top: 128px;
  left: 0;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #565656;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.landing-page-studio .div-wrapper {
  position: absolute;
  width: 360px;
  height: 98px;
  top: 0;
  left: 1px;
}

.landing-page-studio .text-wrapper-12 {
  position: absolute;
  width: 358px;
  top: -1px;
  left: -1px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .overlap-group-wrapper {
  position: absolute;
  width: 312px;
  height: 379px;
  top: 79px;
  left: 525px;
}

.landing-page-studio .overlap-group-2 {
  position: relative;
  width: 308px;
  height: 379px;
  background-color: #ffffff;
  border-radius: 40px;
  border: 1px solid;
  border-color: #f2f2f2;
  box-shadow: 0px 10px 50px #0000000d;
}

.landing-page-studio .box-search-wrapper {
  position: absolute;
  width: 121px;
  height: 121px;
  top: 39px;
  left: 94px;
  background-color: #f1f6ff;
  border-radius: 20px;
}

.landing-page-studio .img-2 {
  position: absolute;
  width: 74px;
  height: 74px;
  top: 24px;
  left: 24px;
}

.landing-page-studio .text-wrapper-13 {
  position: absolute;
  width: 245px;
  top: 277px;
  left: 30px;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 22.4px;
}

.landing-page-studio .text-wrapper-14 {
  position: absolute;
  width: 167px;
  top: 190px;
  left: 69px;
  -webkit-text-stroke: 0.3px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .overlap-wrapper {
  position: absolute;
  width: 312px;
  height: 379px;
  top: 0;
  left: 867px;
}

.landing-page-studio .empty-wallet-wrapper {
  position: absolute;
  width: 121px;
  height: 121px;
  top: 39px;
  left: 94px;
  background-color: #fff7e3;
  border-radius: 20px;
}

.landing-page-studio .text-wrapper-15 {
  position: absolute;
  width: 199px;
  top: 190px;
  left: 53px;
  -webkit-text-stroke: 0.3px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .group-3 {
  position: absolute;
  width: 312px;
  height: 379px;
  top: 409px;
  left: 867px;
}

.landing-page-studio .chart-square-wrapper {
  position: absolute;
  width: 121px;
  height: 121px;
  top: 39px;
  left: 94px;
  background-color: #deffed;
  border-radius: 20px;
}

.landing-page-studio .text-wrapper-16 {
  position: absolute;
  width: 231px;
  top: 190px;
  left: 37px;
  -webkit-text-stroke: 0.3px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .group-4 {
  position: absolute;
  width: 312px;
  height: 379px;
  top: 488px;
  left: 525px;
}

.landing-page-studio .code-wrapper {
  position: absolute;
  width: 121px;
  height: 121px;
  top: 39px;
  left: 94px;
  background-color: #fff2f8;
  border-radius: 20px;
}

.landing-page-studio .text-wrapper-17 {
  position: absolute;
  width: 239px;
  top: 190px;
  left: 33px;
  -webkit-text-stroke: 0.3px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .great-since {
  position: absolute;
  width: 1202px;
  height: 436px;
  top: 1995px;
  left: 120px;
}

.landing-page-studio .overlap-3 {
  position: absolute;
  width: 650px;
  height: 472px;
  top: -30px;
  left: -40px;
}

.landing-page-studio .ellipse-3 {
  position: absolute;
  width: 129px;
  height: 129px;
  top: 337px;
  left: 502px;
  background-color: #fff4da;
  border-radius: 64.5px;
}

.landing-page-studio .unsplash {
  position: absolute;
  width: 650px;
  height: 472px;
  top: 0;
  left: 0;
}

.landing-page-studio .play-rounded-button {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 170px;
  left: 276px;
}

.landing-page-studio .overlap-group-3 {
  position: relative;
  height: 78px;
}

.landing-page-studio .rectangle-4 {
  position: absolute;
  width: 43px;
  height: 43px;
  top: 18px;
  left: 21px;
  background-color: #ffffff;
}

.landing-page-studio .group-5 {
  position: absolute;
  width: 78px;
  height: 78px;
  top: 0;
  left: 0;
}

.landing-page-studio .overlap-4 {
  position: absolute;
  width: 570px;
  height: 256px;
  top: 58px;
  left: 630px;
}

.landing-page-studio .rectangle-5 {
  position: absolute;
  width: 178px;
  height: 178px;
  top: 0;
  left: 0;
  background-color: #eff0ff;
  border-radius: 0px 0px 100px 0px;
}

.landing-page-studio .our-business-plan-is {
  position: absolute;
  width: 532px;
  top: 152px;
  left: 38px;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #565656;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.landing-page-studio .group-6 {
  position: absolute;
  width: 470px;
  height: 98px;
  top: 24px;
  left: 39px;
}

.landing-page-studio .text-wrapper-18 {
  position: absolute;
  width: 468px;
  top: -1px;
  left: -1px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .happy-client {
  position: absolute;
  width: 1268px;
  height: 597px;
  top: 2548px;
  left: 107px;
}

.landing-page-studio .overlap-5 {
  position: absolute;
  width: 489px;
  height: 501px;
  top: 166px;
  left: -30px;
}

.landing-page-studio .dot-3 {
  width: 196px;
  top: 0;
  left: 270px;
  position: absolute;
  height: 154px;
}

.landing-page-studio .ellipse-4 {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 299px;
  left: 30px;
  border-radius: 60px;
  border: 8.8px solid;
  border-color: #ff007a;
}

.landing-page-studio .unsplash-mtztgvdshfy {
  position: absolute;
  width: 489px;
  height: 489px;
  top: 12px;
  left: 0;
  object-fit: cover;
}

.landing-page-studio .overlap-6 {
  position: absolute;
  width: 348px;
  height: 355px;
  top: 208px;
  left: 916px;
}

.landing-page-studio .ellipse-5 {
  position: absolute;
  width: 184px;
  height: 184px;
  top: 107px;
  left: 21px;
  background-color: #fff4da;
  border-radius: 92px;
}

.landing-page-studio .group-7 {
  position: absolute;
  width: 348px;
  height: 355px;
  top: 0;
  left: 0;
}

.landing-page-studio .unsplash-k {
  position: absolute;
  width: 98px;
  height: 98px;
  top: 58px;
  left: 0;
}

.landing-page-studio .unsplash-ohkelokqre {
  position: absolute;
  width: 98px;
  height: 98px;
  top: 257px;
  left: 98px;
}

.landing-page-studio .unsplash-tll-hnjo {
  position: absolute;
  width: 68px;
  height: 68px;
  top: 0;
  left: 137px;
}

.landing-page-studio .unsplash-wbedub-i {
  position: absolute;
  width: 68px;
  height: 68px;
  top: 227px;
  left: 226px;
}

.landing-page-studio .unsplash-et {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 63px;
  left: 249px;
}

.landing-page-studio .unsplash-anudmpilw {
  position: absolute;
  width: 54px;
  height: 54px;
  top: 150px;
  left: 294px;
}

.landing-page-studio .unsplash-dupkifda {
  position: absolute;
  width: 68px;
  height: 68px;
  top: 203px;
  left: 0;
}

.landing-page-studio .unsplash-oymvtwfu {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 107px;
  left: 124px;
}

.landing-page-studio .text-wrapper-19 {
  position: absolute;
  width: 588px;
  top: 66px;
  left: 319px;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28.8px;
}

.landing-page-studio .text-wrapper-20 {
  position: absolute;
  top: -1px;
  left: 369px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .group-8 {
  position: absolute;
  width: 416px;
  height: 185px;
  top: 292px;
  left: 466px;
}

.landing-page-studio .text-wrapper-21 {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke: 0.4px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .text-wrapper-22 {
  position: absolute;
  width: 412px;
  top: 51px;
  left: 0;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #565656;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
}

.landing-page-studio .ellipse-6 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 169px;
  left: 0;
  background-color: #2539ec;
  border-radius: 8px;
}

.landing-page-studio .ellipse-7 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 169px;
  left: 42px;
  background-color: #e6f0fb;
  border-radius: 8px;
}

.landing-page-studio .ellipse-8 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 169px;
  left: 84px;
  background-color: #e6f0fb;
  border-radius: 8px;
}

.landing-page-studio .ellipse-9 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 169px;
  left: 126px;
  background-color: #e6f0fb;
  border-radius: 8px;
}

.landing-page-studio .ellipse-10 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 169px;
  left: 168px;
  background-color: #e6f0fb;
  border-radius: 8px;
}

.landing-page-studio .newsletter {
  position: absolute;
  width: 1276px;
  height: 387px;
  top: 3237px;
  left: 82px;
}

.landing-page-studio .overlap-7 {
  position: relative;
  width: 1272px;
  height: 387px;
}

.landing-page-studio .group-9 {
  position: absolute;
  width: 175px;
  height: 154px;
  top: 0;
  left: 1097px;
  background-image: url(./img/dot-2.png);
  background-size: 100% 100%;
}

.landing-page-studio .rectangle-6 {
  position: absolute;
  width: 178px;
  height: 178px;
  top: 209px;
  left: 0;
  background-color: #fff4da;
  border-radius: 0px 0px 100px 0px;
  transform: rotate(90deg);
}

.landing-page-studio .rectangle-7 {
  position: absolute;
  width: 1197px;
  height: 292px;
  top: 56px;
  left: 38px;
  background-color: #f4f9ff;
  border-radius: 75px;
}

.landing-page-studio .rectangle-8 {
  position: absolute;
  width: 496px;
  height: 292px;
  top: 56px;
  left: 739px;
}

.landing-page-studio .group-10 {
  position: absolute;
  width: 481px;
  height: 80px;
  top: 162px;
  left: 658px;
}

.landing-page-studio .overlap-group-4 {
  position: relative;
  width: 479px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 60px;
  border: 1px solid;
  border-color: #f1f1f1;
  box-shadow: var(--shadow-1);
}

.landing-page-studio .text-wrapper-23 {
  position: absolute;
  top: 29px;
  left: 33px;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #959595;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 40px;
  position: absolute;
  top: 9px;
  left: 280px;
  background-color: #2539ec;
  border-radius: 60px;
}

.landing-page-studio .text-wrapper-24 {
  position: relative;
  width: fit-content;
  margin-top: -1.5px;
  margin-left: -0.5px;
  -webkit-text-stroke: 0.5px #ffffff;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1.04px;
  line-height: normal;
}

.landing-page-studio .text-wrapper-25 {
  position: absolute;
  width: 588px;
  top: 220px;
  left: 130px;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 28.8px;
}

.landing-page-studio .text-wrapper-26 {
  position: absolute;
  top: 153px;
  left: 129px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .footer {
  position: absolute;
  width: 1222px;
  height: 348px;
  top: 3731px;
  left: 120px;
  background-color: transparent;
}

.landing-page-studio .a-studio-2 {
  position: absolute;
  top: 60px;
  left: 0;
  font-family: "Proxima Nova-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .text-wrapper-27 {
  position: absolute;
  top: 63px;
  left: 461px;
  -webkit-text-stroke: 0.4px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .text-wrapper-28 {
  position: absolute;
  top: 63px;
  left: 731px;
  -webkit-text-stroke: 0.4px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .text-wrapper-29 {
  position: absolute;
  top: 63px;
  left: 944px;
  -webkit-text-stroke: 0.4px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .text-wrapper-30 {
  position: absolute;
  top: 63px;
  left: 1124px;
  -webkit-text-stroke: 0.4px #000000;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page-studio .web-design-app {
  position: absolute;
  top: 112px;
  left: 461px;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 28px;
}

.landing-page-studio .about-us-career {
  position: absolute;
  top: 112px;
  left: 731px;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 28px;
}

.landing-page-studio .FAQ-policy-business {
  position: absolute;
  top: 112px;
  left: 944px;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 28px;
}

.landing-page-studio .whatsapp-support {
  position: absolute;
  top: 112px;
  left: 1124px;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 28px;
}

.landing-page-studio .line {
  width: 1200px;
  top: -1px;
  position: absolute;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.landing-page-studio .line-2 {
  width: 1200px;
  top: 308px;
  position: absolute;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.landing-page-studio .text-wrapper-31 {
  position: absolute;
  width: 270px;
  top: 116px;
  left: 0;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #565656;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22.4px;
}

.landing-page-studio .facebook {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 244px;
  left: 0;
}

.landing-page-studio .twitter {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 244px;
  left: 52px;
}

.landing-page-studio .linkedin {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 244px;
  left: 104px;
}

.landing-page-studio .line-3 {
  width: 1201px;
  top: 309px;
  position: absolute;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.landing-page-studio .text-wrapper-32 {
  position: absolute;
  top: 326px;
  left: 507px;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-weight: 400;
  color: #a3a3a3;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}
